@import url("https://fonts.googleapis.com/css2?family=Alata&family=Inter:wght@400;700&display=swap");
.container {
  position: relative;
  width: 90%;
  max-width: 95rem;
  margin: 0 auto;
}

.positive {
  color: rgb(29, 180, 137);
}

.negative {
  color: rgb(220, 65, 76);
}

.header {
  padding-top: 2rem;
}
.header * {
  transition: all 0.2;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.header__heading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.header__heading h1 {
  font-weight: 700;
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}
.header__heading span {
  font-weight: 700;
}
.header__hr {
  height: 2px;
  border: 0;
}
.header__theme-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__theme-toggle span {
  font-weight: 700;
}
.header__theme-toggle-btn {
  position: relative;
  height: 1.7rem;
  width: 3.4rem;
  padding: 0.25rem;
  border-radius: 80px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
}
.header__theme-toggle-btn::before {
  content: "";
  position: absolute;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 80px;
  transition: 0.5s;
}
.header__theme-toggle--light span {
  color: rgb(99, 104, 126);
}
.header__theme-toggle--light .header__theme-toggle-btn::before {
  box-shadow: none;
}
.header__theme-toggle-btn--light-mode::before {
  transform: translateX(120%);
}
.header input {
  display: none;
}

@media screen and (min-width: 75em) {
  .header__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .header__hr {
    display: none;
  }
  .header__theme-toggle {
    gap: 1rem;
  }
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}
.cards * {
  transition: all 0.2s;
}
.cards__card {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  width: 100%;
  border-radius: 8px;
}
.cards__card::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  top: 0;
  left: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.cards__card:nth-child(1)::before {
  background-color: rgb(25, 143, 245);
}
.cards__card:nth-child(2)::before {
  background: rgb(28, 160, 242);
}
.cards__card:nth-child(3)::before {
  background: linear-gradient(to right, #fdc468, #df4996);
}
.cards__card:nth-child(4)::before {
  background: rgb(196, 3, 42);
}
.cards__card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
.cards__card-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.cards__card-social span {
  color: rgb(99, 104, 126);
  font-weight: 700;
}
.cards__card-followers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.cards__card-followers h2 {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 0.95;
}
.cards__card-followers span {
  text-transform: uppercase;
  color: rgb(99, 104, 126);
  letter-spacing: 4px;
}
.cards__card-today {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.cards__card-today span {
  font-weight: 700;
}

@media screen and (min-width: 75em) {
  .cards {
    flex-direction: row;
    gap: 2rem;
  }
}
.overview {
  margin-top: 3rem;
  padding-bottom: 2rem;
}
.overview h3 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  font-weight: 700;
  margin-bottom: 2rem;
}
.overview__card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.overview__card {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;
  border-radius: 8px;
}
.overview__card-stat {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.overview__card-stat span:nth-child(1) {
  font-weight: 700;
}
.overview__card-stat span:nth-child(2) {
  line-height: 0.9;
  font-weight: 700;
  font-size: clamp(2.5rem, 5vw, 3rem);
}
.overview__card-social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.overview__card-social-stat-change {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.overview__card-social-stat-change span {
  font-weight: 700;
}

@media screen and (min-width: 75em) {
  .overview__card-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  .overview__card {
    padding: 2rem;
  }
}
.body--dark-mode {
  background-color: rgb(30, 32, 42);
}
.body--dark-mode::before {
  content: "";
}

.header--dark-mode .header__wrapper .header__heading h1 {
  color: rgb(255, 255, 255);
}
.header--dark-mode .header__wrapper .header__heading span {
  color: rgb(139, 151, 198);
}
.header--dark-mode .header__wrapper hr {
  border-top: 2px solid rgb(174, 179, 203);
}
.header--dark-mode .header__wrapper .header__theme-toggle span {
  color: rgb(139, 151, 198);
}
.header--dark-mode .header__wrapper .header__theme-toggle-btn {
  background: rgb(29, 180, 137);
}
.header--dark-mode .header__wrapper .header__theme-toggle-btn::before {
  box-shadow: none;
  background: rgb(30, 32, 42);
  box-shadow: -2px 4px 30px 10px rgb(55, 143, 230);
}

.cards--dark-mode .cards__card {
  background-color: rgb(37, 42, 65);
}
.cards--dark-mode .cards__card-content .cards__card-social span {
  color: rgb(139, 151, 198);
}
.cards--dark-mode .cards__card-content .cards__card-followers h2 {
  color: rgb(255, 255, 255);
}
.cards--dark-mode .cards__card-content .cards__card-followers span {
  color: rgb(139, 151, 198);
}
.overview--dark-mode h3 {
  color: rgb(255, 255, 255);
}
.overview--dark-mode .overview__card {
  background-color: rgb(37, 42, 65);
}
.overview--dark-mode .overview__card-stat span:nth-child(1) {
  color: rgb(139, 151, 198);
}
.overview--dark-mode .overview__card-stat span:nth-child(2) {
  color: rgb(255, 255, 255);
}

.body--light-mode {
  background-color: rgb(255, 255, 255);
}
.body--light-mode::before {
  content: none;
}

.header--light-mode .header__wrapper .header__heading h1 {
  color: rgb(30, 32, 42);
}
.header--light-mode .header__wrapper .header__heading span {
  color: rgb(99, 104, 126);
}
.header--light-mode .header__wrapper hr {
  border-top: 2px solid rgb(174, 179, 203);
}
.header--light-mode .header__wrapper .header__theme-toggle span {
  color: rgb(99, 104, 126);
}
.header--light-mode .header__wrapper .header__theme-toggle-btn {
  background: rgb(174, 179, 203);
}
.header--light-mode .header__wrapper .header__theme-toggle-btn::before {
  box-shadow: none;
  background: rgb(255, 255, 255);
}

.cards--light-mode .cards__card {
  background-color: rgb(240, 242, 250);
}
.cards--light-mode .cards__card-content .cards__card-followers h2 {
  color: rgb(30, 32, 42);
}
.cards--light-mode .cards__card-content .cards__card-followers span {
  color: rgb(99, 104, 126);
}
.overview--light-mode h3 {
  color: rgb(99, 104, 126);
}
.overview--light-mode .overview__card {
  background-color: rgb(240, 242, 250);
}
.overview--light-mode .overview__card-stat span:nth-child(1) {
  color: rgb(99, 104, 126);
}
.overview--light-mode .overview__card-stat span:nth-child(2) {
  color: rgb(30, 32, 42);
}

.body {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  position: relative;
}
.body::before {
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 15rem;
  background-color: rgb(31, 33, 46);
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}
